
/* --- small screens --- */
@media screen and (min-width: 320px) and (max-width: 600px) {
    .content {
        width: 100% - $left-spacer / 2 - $right-spacer / 2;
        margin-bottom: $space-m;
        padding-top: 1rem;
        & h2 {
            font-size: 2rem;
            width: 100%;
            margin-bottom: $space-l;
        }

        p {
            width: 30rem;
        }
    }

    .content-quote {
        width: 100%;
        
        & .quote-container { 
            height: 20vh;
            text-align: center;
            
            & p {
                font-size: 1.6rem;
                
                & .highlight {
                    padding: 0;
                }
            }
        }
    }
}

/* --- larger screens --- */
@media screen and (min-width: 601px) {
    .content {
        width: 100% - $left-spacer - $right-spacer;
        margin-bottom: $space-l;
        padding-top: $space-l;
        & h2 {
            font-size: 3.2rem;
            flex-basis: 50%;
            width: 29rem;
        }
    
        p {
            width: 35rem;
        }
    }

    .content-quote {
        width: 100% - $left-spacer - $right-spacer;

        & .quote-container { 
            padding-left: 3 * $space-l;
            height: 30vh;

            & p {
                font-size: 3.2rem;

                & .highlight {
                    padding: 0 $space-m 0 $space-m;
                }
            }
        }
    }
    
    
}

/* --- default --- */
.content-wrapper {
    position: relative;
    z-index: 3;
}

.content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s;

    & h2 {
        color: #D84315;
        font-weight: 900;
        display: inline-block;
        transition: all 0.7s ease-in-out;

        &.wide {
            flex-basis: 100%;
            margin-bottom: $space-l;
        }

        &::after {
            content: '';
            position: relative;
            bottom: -20px;
            display: block;           
            height: 10px;
            width: 17.5rem;
            background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIUlEQVQYV2O84Sz6n4GBgUFj72tGEM2IIQASRQZgZcgAAKvtCAUJeeitAAAAAElFTkSuQmCC);
        }
    }

    &_1 {
        flex-basis: 50%;
    }

    h3 {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: $space-m;

        &::after {
            content: '';
            position: relative;
            bottom: -10px;
            display: block;           
            height: 2px;
            width: 8rem;
            background: $white;
        }

    }

    p {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 150%;
        padding-bottom: $space-l;
        display: inline-block;

    }

    &:hover h2 {
        color: darken($color: $orange, $amount: 5);
    }


}

.box-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-between;

    & h3 {
        margin-top: $space-s;
    }
}

$bg-size: 24rem;
$bg-pos: center/$bg-size;

.content_box {
    height: $bg-size;
    width: $bg-size;
    background-color: rgba($orange, 0.15);
    
    padding-right: $bg-size / 2;
    padding-bottom: $space-m;
    transition: all 0.3s;

}



#content_box {
    &-1 {
        background: url(/resources/img/2x/feature-explaning.png) $bg-pos;
        &:hover {
            background: url(/resources/img/2x/feature-explaning-rgb.png) $bg-pos;
        }
    }

    &-2 {
        background: url(/resources/img/2x/feature-convincing.png) $bg-pos;
        &:hover {
            background: url(/resources/img/2x/feature-convincing-rgb.png) $bg-pos;
        }
    }
}



.content-quote {
    margin: 0 auto;
    padding-top: $space-l;
    margin-bottom: $space-l;
    transition: all 0.5s;

    & .quote-container { 
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2NkIBIwEqmOgQ4KbziL/gc5R2PvaxTbMKwmWiEuz9HBM7isBgBlswgLnWYgYAAAAABJRU5ErkJggg==);

        
        display: flex;
        align-items: center;
        
        & p {

            font-weight: 700;
            line-height: 150%;

            & .highlight {
                background-color: $orange;
                color: $white;
                
            }

            & .quote-autor {
                color: $orange;
            }
        }
    }
}
