html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    text-rendering: optimizeLegibility;
}

.text-white {
    color: white;
}

.text-col-main {
    color: $main-color;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-italic {
   font-style: italic;
}

h1 {
    color: $main-color;
    font-size: 6.4rem;
    line-height: 96%;
    margin-top: 0;
    margin-bottom: 1rem;
}

.h1-thin {
    font-weight: 300;
    font-size: 4.8rem;
    
}

.h1-subhead {
    font-size: 2.4rem;
    font-weight: 400;

}

h2 {
    color: $main-color;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 2.6rem;
    }
}

@media screen and (min-width: 768px) {
        
    h2 {
        font-size: 3.2rem;
        
    }
}


.h2-thin {
    color: $grey-medium;
    font-size: 2.2rem;
    font-weight: 300;

    &:before {
        display: inline-block;
        content: '';
        margin-right: 1rem;
        background-color: $grey-medium;
        height: 2px;
        width: 4rem;
    }
}

h3 {
    font-size: 2.2rem;
    font-weight: 500;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 150%;
}



