.section-xteaser {
  padding-bottom: 3rem;
}

.teaser-box {
  text-align: center;
  background-color: #f4f4f4;
  padding-bottom: 1rem;
  width: 80%;
  margin-left: 10%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.teaser-box img {
  height: 8rem;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.teaser-box figure {
  background-color: white;
  border-radius: 50%;
  border: 1px solid #539ccf;
  padding: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.img-box {
  display: inline-block;
  height: 0;
}

.content-particles {
  height: 200px;
  width: 100%;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#particles-js2 {
  position: absolute;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.grid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -ms-grid-columns: 15% 1fr 1fr 1fr 1fr 15%;
      grid-template-columns: 15% 1fr 1fr 1fr 1fr 15%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 0px 0px;
      grid-template-areas: ". grid-1 grid-2 grid-3 grid-4 .";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
}

.grid > * {
  border-left: 2px solid #f4f4f4;
}

.grid :last-child {
  border-right: 2px solid #f4f4f4;
}

.grid-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: grid-1;
}

.grid-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: grid-2;
}

.grid-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: grid-3;
}

.grid-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: grid-4;
}

.content-wrapper {
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .content {
    width: 85%;
    background-color: #2d2d2d;
  }
  .content h2 {
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  .content {
    width: 70%;
  }
  .content h2 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 29rem;
  }
}

.content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5.2rem;
  margin-bottom: 5.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content h2 {
  font-size: 3.2rem;
  color: #D84315;
  font-weight: 900;
  display: inline-block;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.content h2::after {
  content: '';
  position: relative;
  bottom: -20px;
  display: block;
  height: 10px;
  width: 17.5rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIUlEQVQYV2O84Sz6n4GBgUFj72tGEM2IIQASRQZgZcgAAKvtCAUJeeitAAAAAElFTkSuQmCC);
}

.content_1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.content h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 3.8rem;
}

.content h3::after {
  content: '';
  position: relative;
  bottom: -10px;
  display: block;
  height: 2px;
  width: 8rem;
  background: #ffffff;
}

.content p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 150%;
  padding-bottom: 5.2rem;
  display: inline-block;
  width: 35rem;
}

.content:hover h2 {
  color: #c13c13;
}

.box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-wrapper h3 {
  margin-top: 2rem;
}

.content_box {
  height: 24rem;
  width: 24rem;
  background-color: rgba(216, 67, 21, 0.15);
  padding-right: 12rem;
  padding-bottom: 3.8rem;
}

.content-quote {
  width: 70%;
  margin: 0 auto;
  padding-top: 5.2rem;
  margin-bottom: 5.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content-quote .quote-container {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAK0lEQVQoU2NkIBIwEqmOgQ4KbziL/gc5R2PvaxTbMKwmWiEuz9HBM7isBgBlswgLnWYgYAAAAABJRU5ErkJggg==);
  height: 30vh;
  padding-left: 15.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-quote .quote-container p {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 150%;
}

.content-quote .quote-container p .highlight {
  background-color: #D84315;
  color: #ffffff;
  padding: 0 3.8rem 0 3.8rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-img {
  z-index: 1;
  position: absolute;
  background: url(/resources/css/img/hero-bg.jpg);
  top: 0;
  height: 100vh;
  width: 100vw;
}

.col {
  margin-bottom: 3rem;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

body {
  background: rgba(236, 237, 245, 0.94);
}

.hero {
  z-index: 3;
  position: relative;
  background: rgba(236, 237, 245, 0.94);
}

.hero-wrapper {
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  padding-top: 20rem;
}

h1 {
  display: inline-block;
  width: 100%;
  font-weight: 900;
  font-size: 5rem;
  line-height: 140%;
  color: #2d2d2d;
  position: relative;
  margin-bottom: 3.8rem;
}

h1::after {
  content: '';
  display: block;
  bottom: -18px;
  position: absolute;
  height: 3px;
  width: 17.5rem;
  background-color: #D84315;
}

.hero-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero-button {
  /* grid-area: hero-button;
    align-self: end;*/
}

.hero-button a {
  color: #D84315;
  display: inline-block;
  width: 17.5rem;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 5.2rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #D84315;
}

.hero-button a:hover {
  background-color: #D84315;
  color: #ffffff;
}

.hero-button i {
  padding-left: 1rem;
}

.hero-subhead {
  font-size: 2rem;
  line-height: 160%;
  color: #2d2d2d;
  font-weight: 300;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-subhead_bold {
  font-weight: 500;
}

header {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  background: #ffffff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 6.5rem;
  padding-left: 11px;
  width: 80%;
  margin: 0 auto;
}

.nav-link {
  font-size: 1.4rem;
  color: #616161;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  line-height: 6.5rem;
  width: 13rem;
  text-align: center;
}

.nav-link:hover {
  border-bottom: 3px solid #D84315;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */