$main-color: #1886b9;
$grey-dark: #2d2d2d;
$grey-medium: #acabab;
$grey-light: #f4f4f4;
$white: #ffffff;
$bg-grey-opaque: rgb(236,237,245);
$bg-grey: rgba($bg-grey-opaque,0.94);
$contrast-color: #FF4B2B;


$left-spacer: 15%;
$right-spacer: 15%;

$space-s: 2rem;
$space-m: 3.8rem;
$space-l: 5.2rem;

@import 'header';


// Required
@import "vendors/bootstrap/scss/functions";
@import "vendors/bootstrap/scss/variables";
@import "vendors/bootstrap/scss/mixins";
@import "vendors/bootstrap/scss/utilities";

// Optional 
// @import "vendors/bootstrap/scss/reboot";
// @import "vendors/bootstrap/scss/type";
// @import "vendors/bootstrap/scss/images";
// @import "vendors/bootstrap/scss/code";
@import "vendors/bootstrap/scss/buttons";
@import "vendors/bootstrap/scss/grid";
@import "vendors/bootstrap/scss/type";
@import "vendors/bootstrap/scss/jumbotron";
@import "vendors/bootstrap/scss/forms";
@import "vendors/bootstrap/scss/custom-forms";
@import "vendors/bootstrap/scss/media";

@import 'particles';

@import 'typography';
@import 'siteforms';
@import 'section-questions';
@import 'section-offer';
@import 'section-system';
@import 'section-vorteile';
@import 'section-footer';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




body {
    background: $white;
}



.wrapper-1140 {
    max-width: 1140px;
    //margin: 0 auto;
}

.hero {
    padding: 15rem 0 10rem 0;
   
}

.hero-img {
    background-image: url(img/hero-bg.jpg);
    background-attachment: fixed;
    background-color: darken($main-color, 20%);
    background-blend-mode: multiply;
}

.a-as-btn {
    display: block;
    width: 17.5rem;
    height: 5.2rem;
    border: 2px solid $white;
    background-color: transparent;
    text-decoration: none;
    line-height: 5.2rem;
    text-align: center;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    color: white;
    
    & i {
        padding-left: 1rem;
    }
    &:hover {
        background: $white;
        color: $main-color;

        & i {
            color: $main-color;
        }
    }
}

.text-link {
    font-size: 1.6rem;
}

.icon-box {
    padding: 0 3rem 0 6.5rem;
    display: block;

    & i{
        font-size: 3rem;
        position: absolute;
        left: 2.4rem;
    }
}

.system-row {
    & > div {
        border-right: 1px solid $grey-medium;
    }

    & > div:not(:first-child) {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}



.section-social {
    background-color: $main-color;
    height: 32rem;
}

.section-trainer {
    & img {
        overflow: hidden;
        display: inline-block;
        position: relative;
        max-width: 100%;
    }
}

.section-testimonial {
    background-color: $grey-light;
}

.section-contact {
   & .ansprechpartner {
        background-color: $grey-light;
    
        &-single {
            background-color: $white;

            & img {
                float: left;
                max-width: 25%;
                overflow: hidden;
            }

            & .text-blue {
                color: $main-color;
                font-weight: 400;
            }
        }

    }
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}



