$main-color: rgb(24, 134, 185);
$grey-dark: #2d2d2d;
$grey-light: #f4f4f4;
$white: #ffffff;
$bg-grey-opaque: rgb(236,237,245);
$bg-grey: rgba($bg-grey-opaque,0.94);


$left-spacer: 15%;
$right-spacer: 15%;

$space-s: 2rem;
$space-m: 3.8rem;
$space-l: 5.2rem;

@import 'header';

// Required
@import "vendors/bootstrap/scss/functions";
@import "vendors/bootstrap/scss/variables";
@import "vendors/bootstrap/scss/mixins";
@import "vendors/bootstrap/scss/utilities";

// Optional 
// @import "vendors/bootstrap/scss/reboot";
// @import "vendors/bootstrap/scss/type";
// @import "vendors/bootstrap/scss/images";
// @import "vendors/bootstrap/scss/code";
@import "vendors/bootstrap/scss/buttons";
@import "vendors/bootstrap/scss/grid";
@import "vendors/bootstrap/scss/type";
@import "vendors/bootstrap/scss/jumbotron";


@import 'particles';

@import 'typography';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




body {
    background: $bg-grey;
}

div {
    padding: 0.5em;
    background-color: rgba($color: #000000, $alpha: 0.1); 
}

.wrapper-1140 {
    max-width: 1140px;
    margin: 0 auto;
}

.hero {
    padding-top: 15rem;
}
